* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
}
.icon{
    margin-right: 10px;
}
.search-bar {
    margin-right: 35%;
}
.search-bar > input {
    width: 500px;
}
.hero-image {
    border: 2px solid black;
}       
.feature-icon{
    border-radius: 50%;
}
.carousel-control-next-icon {
    position: relative;
    width: 50px;
    height: 50px;
    left: 37%;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
}
.carousel-control-prev-icon{
    position: relative;
    width: 50px;
    height: 50px;
    right: 37%;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
}
.slides-product-description, .slides-product-price{
    font-weight: bold;
    font-size: 20px;
}


.carousel-control-prev, .carousel-control-next  {
    width: 1.5%;
}



@media screen and (max-width: 600px) {
    #carouselExampleDark {
        border: 2px solid black;
    }

    .second-image, .third-image, .fourth-image {
        display: none !important;
    }

}
